boto3>=1.26.76
botocore>=1.19.52
aiohttp>=3.7.4.post0
certifi>=2023.7.22
Click>=7.0
colorama
GitPython
google-auth
jsonpatch
jsonschema
oauth2client
packaging
pathspec>=0.8.1
python-dateutil
requests
rich
six>=1.10
tabulate
urllib3>=1.26.17
wrapt
pyyaml
smart_open
halo
tqdm
tzlocal
humanize
typing_extensions
